<div class="comment clearfix">
	<div class="comment_content">
		<% if signed_in? %>
			<p class="comment_name"><strong><%= comment.user.name %></strong></p>
		<% else %>
			<p class="comment_name"><strong><%= comment.visitor_name %></strong></p>
		<% end %>
		<p class="comment_body"><%= comment.content %></p>
		<p class="comment_time"><%= time_ago_in_words(comment.created_at) %> ago</p>
	</div>

	<% if can? :delete, comment %>
		<%= link_to 'Delete',
			blog_post_comment_path(comment, post_id: comment.post.id),
			class: "button", method: :delete, data: { confirm: 'Are you sure?' } %>
 	<% end %>
</div>
