<%= simple_form_for([@post, @post.comments.build],
    url: blog_post_comments_path(post_id: @post.id)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if !signed_in? %>
      <p class="text-warning">As a visitor, you are not allowed to delete your comment</p>
      <%= f.input :visitor_name, required:true %>
    <% end %>
    <%= f.input_field :content, required:true %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
