<p id="notice"><%= notice %></p>

<h1>Listing Themes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Blogger</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @themes.each do |theme| %>
      <tr>
        <td><%= theme.title %></td>
        <td><%= theme.description %></td>
        <td><%= theme.blogger %></td>
        <td><%= link_to 'Show', blog_blogger_theme_path(theme, blogger_id: theme.blogger_id) %></td>
        <td><%= link_to 'Edit', edit_blog_blogger_theme_path(theme, blogger_id: theme.blogger_id) %></td>
        <td><%= link_to 'Destroy', blog_blogger_theme_path(theme, blogger_id: theme.blogger_id),
                method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Theme', new_blog_blogger_theme_path %>
