<%= simple_form_for(@post, url: blog_posts_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :body %>
    <%= f.input :status, collection: CommonStatus::to_a %>
    <%= f.input :comment_allowed, as: :boolean %>
    <%= f.hidden_field :blogger_id, value: current_user.blogger.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
