<!DOCTYPE html>
<html>
<head>
  <title>Admmsystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

  <%= yield :social_attributes %>
</head>
<body>
  <%= render 'layouts/main/header' %>
  <div id="sidebar">
		<ul>
			<li class="category">Navegação</li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Acompanhe-nos", root_path %></li>
      <li><%= link_to "Seja um colaborador", root_path %></li>
			<li><%= link_to "Pedidos de oração", root_path %></li>
      <li><%= link_to "Palavras do pastor", root_path %></li>
      <li><%= link_to "Mural de recados", root_path %></li>
      <li><%= link_to "Agenda", root_path %></li>
      <li><%= link_to "Nossos templos", root_path %></li>
      <li><%= link_to "Webrádio", root_path %></li>
		</ul>

		<ul>
			<li class="category">Redes sociais</li>
      <li><a href="https://www.facebook.com/profile.php?id=155748577910801">Facebook</a></li>
		</ul>
	</div>

  <div id="main_content">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
      </div>
    <% end %>
    <%= yield :header_content %>
    <%= yield %>
    <%= render 'layouts/main/footer' %>
  </div>
</body>
</html>
